#container {
  text-align: center;
  padding: 0px 20px;
  margin-top: 30px;
  left: 0;
  right: 0;
  top: 20%;
}

.encabezado {
  display: flex;
  justify-content: space-between;
  ion-button {
    margin-right: 30px;
  }
}

#container p {
  font-size: 32px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lista {
  width: 70%;
  ion-col {
    text-align: center;
    i {
      margin-left: 20px;
    }
  }
}

.list-md {
  background-color: aqua;
  text-align: center;
}

ion-item {
  margin-top: 20px;
}

ion-content {
  height: 25px;
}
